/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 2, 2015, 9:54:20 PM
    Author     : Lucas
*/
.center{
	margin: 0 auto;
}
.gray{
	color: gray;
}
.blue{
    color: blue;
}
.red{
    color: red;
}
.ft8{
    font-size: 8pt;
}
.ft10{
    font-size: 10pt;
}
.ft12{
    font-size: 12pt;
}
.ft14{
    font-size: 14pt;
}
.ft16{
    font-size: 16pt;
}
.ft18{
    font-size: 18pt;
}
.center{
    text-align: center;
    margin: 0 auto;
}
.txtRight{
    text-align: right;
}
.txtJustify{
    text-align: justify;
}
.txtLeft{
    text-align: left;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.noBorder{
    border: none;
}
.searchInput{
    width: 85%;
    height: 30px;
}
.searchButton{
    margin: 30px;
    width: 250px;
    height: 35px;
}